div {margin: o; padding: 0;}
div div {background: #A4CA39; position: relative;}

.android{
	height: 404px; width: 334px;
	margin: 100px auto;

}
.head{
	width: 220px; height: 100px;
	top: 32px;

	border-radius: 110px 110px 0 0;
	-moz-border-radius: 110px 110px 0 0;
	-webkit-border-radius: 110px 110px 0 0;

	-webkit-transition: all 0.1s ease-in;
}
